@model UserEditProfile

@{
    ViewData["Title"] = "Apply Job";
}

      <body>
          <!-- content for apply job form -->
          <div class="container col-md-6 offset-md-4 shadow-lg p-5 mb-5 bg-white rounded" style="background-color:#f8f9fa ">
            <div class="mb-3">
              <p class="h6">Apply Job : </p>
              <p class="h4 text-muted text-body-secondary">@ViewBag.JobTitle</p>
              <hr/>
              @* @using(Html.BeginForm("ApplyJobs", "Candidate", FormMethod.Post, new { enctype = "multipart/form-data"}))
              {
                 <input type="hidden" name="JobId" value="@ViewBag.JobId" />

                <div>
                <div class="mb-3">
                    <label for="name" class="form-label">Full Name</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number</label>
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control"})
                </div>

                <div class="mb-3">
                    <label for="education" class="form-label">Last Education</label>
                    @Html.TextBoxFor(m => m.LastEducation, new { @class = "form-control"})
                </div>

                <div class="mb-3">
                    <label for="GPA" class="form-label">GPA</label>
                    @Html.TextBoxFor(m => m.GPA, new { @class = "form-control"})
                </div>

               
                <label for="file" class="form-label mt-3">Upload CV/Resume (PDF, maks. 1MB)</label>
                @Html.TextBoxFor(m => m.FileCV, new { @class = "form-control", @type = "file", @id = "file-input", @required = "required" })
                
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </div>
                    
                </div>
              } *@
            </div>


          </div>
        <!-- footer -->
        @* <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
              <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
              </a>
              <span class="mb-3 mb-md-0 text-muted">© 2023 Company, Inc</span>
            </div>
        </footer> *@
      </body>

<script>
  // Ambil elemen input file
  var fileInput = document.getElementById("file-input");

  // Tambahkan event listener untuk memvalidasi file saat dipilih
  fileInput.addEventListener("change", function() {
    var file = fileInput.files[0]; // Ambil file yang dipilih
    var maxSize = 1048576; // Ukuran maksimal file dalam byte (1 MB = 1,048,576 bytes)

    // Validasi format file
    var fileType = file.type.toLowerCase();
    if (fileType !== "application/pdf") {
      alert("Mohon pilih file dalam format PDF.");
      fileInput.value = ""; // Reset nilai input file
      return;
    }

    // Validasi ukuran file
    if (file.size > maxSize) {
      alert("Ukuran file terlalu besar. Maksimal 1MB.");
      fileInput.value = ""; // Reset nilai input file
      return;
    }
  });
</script>