@model UserEditProfile

@{
    ViewData["Title"] = "Edit Profile";
    var dropdownOptions = new List<SelectListItem>
    {
        new SelectListItem { Value = "Doctorate", Text = "Doctorate" },
        new SelectListItem { Value = "Master's Degree", Text = "Master's Degree" },
        new SelectListItem { Value = "Bachelor's Degree", Text = "Bachelor's Degree" },
        new SelectListItem { Value = "Diploma", Text = "Diploma" },
        new SelectListItem { Value = "SMA/SMK", Text = "SMA/SMK"}
    };
}

          <!-- content for edit profile -->
          <div class="pt-5 pb-20 px-5">
            <div class="container shadow p-3 mb-5 bg-white rounded mt-5" style="background-color:#f8f9fa ">
            @using(Html.BeginForm("EditProfile", "Candidate", FormMethod.Post))
            {
                <div class="mt-2">
                    <label for="Name" class="form-label text-muted">Name</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control rounded-lg"})
                </div>
                <div class="mt-2">
                    <label for="email" class="form-label text-muted">Email address</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control rounded-lg", @readonly = "readonly" })
                </div>

                <div class="mt-2">
                    <label for="phone" class="form-label text-muted">Phone Number</label>
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control rounded-lg", type="number"})
                </div>
                <div class="mt-2">
                    <label for="education" class="form-label text-muted">Last Education</label>
                    @Html.DropDownListFor(m => m.LastEducation, new SelectList(dropdownOptions, "Value", "Text"), "Select an option", new { @class = "form-control round-lg" })
                </div>
                <div class="mt-2">
                    <label for="GPA" class="form-label text-muted">GPA</label>
                    @Html.TextBoxFor(m => m.GPA, new { @class = "form-control rounded-lg", type = "number", step = "0.01", min = "0", max = "4" })
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5">
                    <button class=" w-1/3 btn bg-amber-500 text-white rounded-lg hover:bg-amber-600" type="button">Save</button>
                </div>
            }
            </div>
          
          </div>