@model List<CandidateJobStatus>

@{
    ViewData["Title"] = "My Application";

    
} 
  <div class="pt-32 pb-20 px-5 ">
    <div class="container"  ">
      <p class="font-bold text-2xl">My Application Status :</p>

      @foreach (var status in Model)
      {
        @if (status.CandidateStatus![0] == "Rejected")
        {
            <div class="container mt-3" style="background: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);">
                <a class="step-wizard-list d-flex">
                    <div class="">
                        <p class="text-2xl font-bold fw-smedium ms-3">@status.JobTitle</p>
                        <p class="text-base font-bold fw-medium mt-2 ms-3 text-red-400"><i class="bi bi-x-circle mr-2"></i>Not Suitable</p>
                        <p class="text-sm font-bold  text-muted fw-medium mt-2 ms-3">We sincerely appreciate your interest in joining our team and value the time and effort you invested in your application.<br>
                        We wish you the best of luck in your job search and future endeavors.</p>
                    </div>
                </a>
            </div>
        } else {
       
        string style_1 = status.CandidateStatus![0];
        string style_2 = status.CandidateStatus![1];
        string style_3 = status.CandidateStatus![2];
        string style_4 = status.CandidateStatus![3];
      
      <div>

            
          <section class="step-wizard mt-5"> 
            
            <div class="container" style="background: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);">
                <p class="text-2xl font-bold fw-smedium ms-3 mt-3">@status.JobTitle</p>
                <ul class="step-wizard-list d-flex justify-content-center justify-content-between">
                    <li class="step-wizard-item @style_1">
                        <span class="progress-count">1</span>
                        <span class="progress-label fw-normal">Administration</span>
                    </li>
                    <li class="step-wizard-item @style_2">
                        <span class="progress-count">2</span>
                        <span class="progress-label fw-normal">HR Interview</span>
                    </li>
                    <li class="step-wizard-item @style_3">
                        <span class="progress-count">3</span>
                        <span class="progress-label fw-normal">User Interview</span>
                    </li>
                    <li class="step-wizard-item @style_4">
                        <span class="progress-count">4</span>
                        <span class="progress-label fw-normal">Offering</span>
                    </li>
                </ul>
            </div>
        </section>
        </div>
        }
      }
    </div>
  </div>