@model List<JobViewModel>;

@{
  ViewData["Title"] = "Formulatrix Career";
  var searchstring = @Context.Request.Query["searchstring"];
}
    <!-- image with search job and location search inside -->

    <div class="pt-32 pb-20 px-5 bg-custom-background">
      <form asp-asp-controller="Home" asp-action="SearchJob" method="get">
      <div class="w-full container flex justify-between space-y-3 flex-col lg:space-x-3 lg:space-y-0 lg:flex-row">
        <div class="w-full">
          <input type="text" name="searchstring" value="@searchstring" class="form-control rounded-lg" placeholder="Search Job" aria-label="City"/>
        </div>
        @* <div class="dropdown w-1/3">
          <select class="form-select" aria-label="Default select example">
            <option selected>Choose location</option>
            <option value="Bandung">Bandung</option>
            <option value="Salatiga">Salatiga</option>
            <option value="Semarang">Semarang</option>
          </select>
        </div> *@
        <button type="submit" class="w-1/3 btn bg-amber-500 text-white hover:bg-amber-600 rounded-lg">Search<i
            class="bi bi-search mx-2"></i></i></button>
        
      </div>
      </form>
    </div>

    <!-- top jobs -->
    <div class="container mb-3 ms-5">
      <h4 class="font-medium text-2xl mt-5">Opportunities</h4>
      <h5>See our available opportunities below</h5>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">

        @foreach (var job in Model){
        <div class="col">
          <div class="card h-[350px] w-full">
            <div class="card-header">
              <h5 class="font-medium text-xl">@job.JobTitle</h5>
                <span class="text-gray-600 flex items-center space-x-1">
                <i class="bi bi-geo-alt"></i>
                <h7 class="card-text text-sm">Location: @job.Location</h7>
              </span>
              </div>
              <div class="card-body flex flex-column justify-between">
              @* <h6>Employee count: @job.CandidateCout</h6> *@
              <div class="card-text">
                <p class="line-clamp-5"> @job.JobDescription</p>
              </div>
              <div class="flex justify-end mt-3 space-x-2">
                @* @if(User.Identity.IsAuthenticated)
                { *@
                  <a type="button" class="btn bg-amber-500 text-white rounded-lg hover:bg-amber-600" href="@Url.Action("ApplyJob", new { id =job.JobId })">Apply</a>
                @* }
                else
                {
                  <a type="button" class="btn btn-primary" href="/Login">Apply</a>
                } *@
                <a type="button" class="btn border-2 border-amber-500 text-amber-500 rounded-lg hover:bg-amber-500 hover:text-white" href="@Url.Action("DetailJob", new { id = job.JobId })" >Details</a>
              </div>
            </div>
            <div class="card-footer text-muted">
            <div class="flex justify-between">
              <span class="flex space-x-1 items-center">
                <i class="bi bi-clock"></i>
                <h7 class="card-text">Due Date : @job.JobExpiredDate</h7>
              </span>
              <span class="flex space-x-1 items-center">
                <i class="bi bi-person"></i>
                <h7 class="card-text">Total Applicant : @job.CandidateCout</h7>
              </span>
            </div>
            <div class="mt-2">
              <i class="bi bi-clock"></i>
              <h7 class="card-text">Posted Time : @job.JobPostedDate</h7>
            </div>
          </div>
          </div>
        </div>
        }
      </div>
    </div>
