@model List<DataCandidateJobs>;

@{
  ViewData["Title"] = "Admin";

  int counter = 1;
}

<div class="d-flex w-100">
      <aside
        class="d-flex justify-content-center py-5 align-items-center vh-100"
        style="width: 15%">
        <nav class="nav nav-pills flex-column text-center vh-100 py-5">
          <h5>Dashboard</h5>
          <h6 class="mb-5 pb-5 text-muted">Admin</h6>

          <div
            class="d-flex flex-column justify-content-around"
            style="height: 200px">
            <div>
              <a class="nav-link active mb-3" href="/Admin/Administration"
                >Administration</a
              >
            </div>
            <div>
              <a class="nav-link mb-3" href="/Admin/HRInterview">HR Interview</a>
            </div>
            <div>
              <a class="nav-link mb-3" href="/Admin/UserInterview"
                >User Interview</a
              >
            </div>
            <div>
              <a class="nav-link mb-3" href="/Admin/Offering">Offering</a>
            </div>
          </div>
        </nav>
      </aside>
      <main class="p-5" style="height: 100vh; width: 80%">
        <header class="mb-5">
          <div class="d-flex justify-content-between">
            <h4>@ViewBag.JobTitle</h4>
            <div
              class="d-flex justify-content-around align-items-center"
              style="width: 150px">
              <span>@ViewBag.AdminName</span>
              <div
                class="rounded-circle"
                style="
                  width: 40px;
                  height: 40px;
                  background-color: #4caf50;
                "></div>
            </div>
          </div>
        </header>
        <!-- content -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Name</th>
              <th scope="col">Education</th>
              <th scope="col">GPA</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          @foreach (var candidate in Model)
          {
            <tbody>
              <tr>
                <th scope="row">@counter</th>
                <td class="fs-6">@candidate.Name</td>
                <td>@candidate.LastEducation</td>
                <td>@candidate.GPA</td>
                <td>@candidate.Phone</td>
                <td>@candidate.Email</td>
                <td class="d-flex">
                  <form action="/Admin/Accept" method="post">
                    <input type="hidden" name="CandidateId" value= @candidate.CandidateId />
                    <input type="hidden" name="JobId" value= @ViewBag.JobId />
                    <button class="btn btn-primary btn-sm" type="submit">Accept</button>
                  </form>
                  @* <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    style="margin-left: 5px">
                    Accept
                  </button> *@
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    style="margin-left: 5px">
                    Reject
                  </button>
                  <form action="/Admin/DownloadCV" method="post">
                    <input type="hidden" name="CandidateId" value= @candidate.CandidateId />
                    <input type="hidden" name="JobId" value= @ViewBag.JobId />
                    <button class="btn btn-light btn-sm" type="submit">Download CV</button>
                  </form>
                </td>
              </tr>
            </tbody> 
          }

        </table>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a class="btn btn-primary" type="button" href="hr_interview.html"
            >Next Process</a
          >
        </div>
      </main>
    </div>