@model ProcessViewModel;

@{
  ViewData["Title"] = "Admin";
  var dropdownOptions = new List<SelectListItem>
    {
        new SelectListItem { Value = "Salatiga", Text = "Salatiga" },
        new SelectListItem { Value = "Semarang", Text = "Semarang" },
        new SelectListItem { Value = "Bandung", Text = "Bandung" }
    };
  int counter = 1;
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">

  <div class="container">
    <!-- Sidebar -->
    @* <div class="bg-zinc-900 col-span-1 opacity-90">
      <!-- Sidebar content -->
      <nav>
        <ul class="flex flex-col py-4 mt-5">
           <li class="px-4 py-2 text-white inline-block">
            <div class="rounded-full w-20 h-20 bg-gray-300 flex items-center justify-center">
                <svg class="text-gray-500 w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </div>
            </li>
            <li class="px-4 py-2 text-zinc-200 mb-3 font-bold mb-3"> <a href="index.html">@ViewBag.AdminName</a></li>
            <li class="px-4 py-2 text-zinc-200 border-t-2 border-zinc-700 "><i class="bi bi-house mr-3"></i><a href="/Admin">Home</a></li>
            <li class="px-4 py-2 text-zinc-200 border-t-2 border-zinc-700 "><i class="bi bi-clock-history mr-3"></i><a href="recruitment_process.html">Recruitment Process</a></li>
            <li class="px-4 py-2 text-zinc-200 border-y-2 border-zinc-700 "><i class="bi bi-list-check mr-3"></i><a href="/Admin/CreateJob">Create Job</a></li>
            <li class="btn bg-red-500 text-zinc-200 hover:bg-red-600 mt-5 flex justify-center">Logout</li>
        </ul>
      </nav>
    </div> *@
    <!-- Main content -->
    
    <div class="col-span-4">
      <!-- Main content goes here -->
      <div class="flex justify-center mt-32">
      <div class="flex flex-col justify-center items-center w-[200px]">
        <button
          id="btn1"
          class="btn bg-amber-500 text-white btn-sm rounded-pill"
          style="width: 2rem; height: 2rem"
        >
          1
        </button>
        <a class="font-bold">Administration</a>
      </div>
      <span
        class="bg-amber-500 w-25 rounded mt-auto mb-auto me-1 ms-1"
        style="height: 0.2rem"
      >
      </span>
      <div class="flex flex-col justify-center items-center w-[200px]">
        <button
          id="btn2"
          class="btn bg-amber-500 text-white btn-sm rounded-pill"
          style="width: 2rem; height: 2rem"
        >
          2
        </button>
        <a class="font-bold">HR Interview</a>
      </div>
      <span
        class="bg-amber-500 w-25 rounded mt-auto mb-auto me-1 ms-1"
        style="height: 0.2rem"
      >
      </span>
      <div class="flex flex-col justify-center items-center w-[200px]">
        <button
          id="btn3"
          class="btn bg-amber-500 text-white btn-sm rounded-pill"
          style="width: 2rem; height: 2rem"
        >
          3
        </button>
        <a class="font-bold">User Interview</a>
      </div>
      <span
        class="bg-amber-500 w-25 rounded mt-auto mb-auto me-1 ms-1"
        style="height: 0.2rem"
      >
      </span>
      <div class="flex flex-col justify-center items-center w-[200px]">
        <button
          id="btn4"
          class="btn bg-amber-500 text-white btn-sm rounded-pill"
          style="width: 2rem; height: 2rem"
        >
          4
        </button>
        <a class="font-bold">Offering</a>
      </div>
    </div>
      <div id="content1" class="py-4 show">
        <!-- Content for Button 1 -->`
        <div class="container ms-8 mt-3">
          <h2 class="text-3xl font-bold mb-3">@ViewBag.JobTitle</h2>
          <p class="font-bold text-lg">Administration</p>
          <div class="d-grid gap-2 d-md-flex justify-content-end mr-8">

            <form>
              <input type="text" class="form-control rounded-lg" />
            </form>
            <button type="button" class=" btn bg-amber-500 text-white hover:bg-amber-600 rounded-lg">Search</button>
            <form action="/Admin/TemplateEmailHRInterview" class="btn bg-green-600 btn-sm text-white hover:bg-green-700 rounded-lg" method="post">
              <button class="" type="submit">View Template</button>
              <input type="hidden" name="JobId" value= @ViewBag.JobId />
            </form>

          </div>

          <table class="table mr-8 mt-3">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Education</th>
                <th scope="col">GPA</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col" colspan="4">Action</th>
              </tr>
            </thead>
            @foreach (var candidate in Model.Administration)
            {
            <tbody>
              <tr>
                <th scope="row">@counter</th>
                <td>@candidate.Name</td>
                <td>@candidate.LastEducation</td>
                <td>@candidate.GPA</td>
                <td>@candidate.Email</td>
                <td>@candidate.Phone</td>
                <td>
                  @* <button type="button" class="btn btn-sm bg-amber-500 text-white hover:bg-amber-600 rounded-lg">Send</button> *@
                  <form action="/Admin/Accept" class="btn bg-green-600 btn-sm text-white hover:bg-green-700 rounded-lg" method="post">
                    <button class="" type="submit">Accept</button>
                    <input type="hidden" name="UserId" value= @candidate.UserId />
                    <input type="hidden" name="JobId" value= @ViewBag.JobId />
                  </form>
                  <form action="/Admin/Rejected" class="btn-sm btn bg-red-600 text-white hover:bg-red-700 rounded-lg" method="post">
                    <button class="" type="submit">Reject</button>
                    <input type="hidden" name="UserId" value= @candidate.UserId />
                    <input type="hidden" name="JobId" value= @ViewBag.JobId />
                  </form>
                  <form action="/Admin/DownloadCV" class="btn btn-sm bg-blue-600 text-white hover:bg-blue-700 rounded-lg" method="post">
                    <button class="" type="submit"><i class="bi bi-download"></i></button>
                    <input type="hidden" name="UserId" value= @candidate.UserId />
                    <input type="hidden" name="JobId" value= @ViewBag.JobId />
                  </form>
                </td>
              </tr>
            </tbody>
            }
          </table>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn bg-blue-600 text-white hover:bg-blue-700 rounded-lg mr-8" type="button" href="#content2">Next
              Process</a>
          </div>
        </div>
      </div>

      <div id="content2" class="py-4 hidden">
        <!-- Content for Button 1 -->`
        <div class="container ms-8 mt-3">
          <h2 class="text-3xl font-bold mb-3">@ViewBag.JobTitle</h2>
          <p class="font-bold text-lg">HR Interview</p>
          <div class="d-grid gap-2 d-md-flex justify-content-end mr-8">

            <form>
              <input type="text" class="form-control rounded-lg" />
            </form>
            <button type="button" class=" btn bg-amber-500 text-white hover:bg-amber-600 rounded-lg">Search</button>
            <a class="btn bg-green-600 text-white hover:bg-green-700 rounded-lg" type="button"
              href="template_email.html">View Template</a>
          </div>

          <table class="table mr-8 mt-3">
            <thead>
              <tr>
                <th scope="col" class="align-midle">No</th>
                <th scope="col" class="align-midle">Name</th>
                <th scope="col" colspan="2" class="align-midle">Schedule</th>
                <th scope="col" colspan="4">Action</th>
              </tr>
            </thead>
           
            @foreach (var candidate in Model.HRInterview)
            {    
            <tbody>
              <tr>
                <th scope="row">@counter</th>
                <td>@candidate.Name</td>
                <td>
                  <div class="d-flex justify-content-between">
                  <input type="text" class="round-lg form-control btn-sm" id="datepicker" placeholder="Select Date" />
                  <input type="time" id="time" name="time" class="px-4 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500">

                    </div>
                </td>
                <td>
                  <button type="button" class="btn bg-amber-500 text-white hover:bg-amber-600 rounded-lg btn-sm">Send</button>
                   <form action="/Admin/Accept" class="btn bg-green-600 btn-sm text-white hover:bg-green-700 rounded-lg" method="post">
                    <button class="" type="submit">Accept</button>
                    <input type="hidden" name="UserId" value= @candidate.UserId />
                    <input type="hidden" name="JobId" value= @ViewBag.JobId />
                  </form>
                  <form action="/Admin/Rejected" class="btn-sm btn bg-red-600 text-white hover:bg-red-700 rounded-lg" method="post">
                    <button class="" type="submit">Reject</button>
                    <input type="hidden" name="UserId" value= @candidate.UserId />
                    <input type="hidden" name="JobId" value= @ViewBag.JobId />
                  </form>
                  <button type="button" class="btn bg-blue-700 text-white hover:bg-blue-800 rounded-lg btn-sm"><i class="bi bi-download"></i></button>
                </td>
              </tr>
              
            
            </tbody>
            }
          
          </table>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end btn-sm">
            <a class="btn bg-blue-600 text-white hover:bg-blue-700 rounded-lg mr-8" type="button" href="#content3">Next
              Process</a>
          </div>
        </div>
      </div>

      <div id="content3" class="py-4 hidden">
        <!-- Content for Button 1 -->`
        <div class="container ms-8 mt-3">
          <h2 class="text-3xl font-bold mb-3">@ViewBag.JobTitle</h2>
          <p class="font-bold text-lg">User Interview</p>
          <div class="d-grid gap-2 d-md-flex justify-content-end mr-8">

            <form>
              <input type="text" class="form-control rounded-lg" />
            </form>
            <button type="button" class=" btn bg-amber-500 text-white hover:bg-amber-600 rounded-lg">Search</button>
            <a class="btn bg-green-600 text-white hover:bg-green-700 rounded-lg" type="button"
              href="template_email.html">View Template</a>
          </div>

          <table class="table mr-8 mt-3">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Schedule</th>
                <th scope="col">Action</th>
              </tr>
            </thead>

            @foreach (var candidate in Model.UserInterview)
            {    
            <tbody>
              <tr>
                <th scope="row">@counter</th>
                <td>@candidate.Name</td>
                <td></td>
                <td>
                  <button type="button" class="btn bg-amber-500 text-white hover:bg-amber-600 rounded-lg btn-sm">Send</button>
                   <form action="/Admin/Accept" class="btn bg-green-600 btn-sm text-white hover:bg-green-700 rounded-lg" method="post">
                    <button class="" type="submit">Accept</button>
                    <input type="hidden" name="UserId" value= @candidate.UserId />
                    <input type="hidden" name="JobId" value= @ViewBag.JobId />
                  </form>
                  <form action="/Admin/Rejected" class="btn-sm btn bg-red-600 text-white hover:bg-red-700 rounded-lg" method="post">
                    <button class="" type="submit">Reject</button>
                    <input type="hidden" name="UserId" value= @candidate.UserId />
                    <input type="hidden" name="JobId" value= @ViewBag.JobId />
                  </form>
                  <button type="button" class="btn bg-blue-700 text-white hover:bg-blue-800 rounded-lg btn-sm"><i class="bi bi-download"></i></button>
                </td>
              </tr>
            
            </tbody>
            }
          </table>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn bg-blue-600 text-white hover:bg-blue-700 rounded-lg mr-8" type="button" href="#content3">Next
              Process</a>
          </div>
        </div>
      </div>
     

      <div id="content4" class="py-4 hidden">
        <!-- Content for Button 1 -->`
        <div class="container ms-8 mt-3">
          <h2 class="text-3xl font-bold mb-3">@ViewBag.JobTitle</h2>
          <p class="font-bold text-lg">Offering</p>
          <div class="d-grid gap-2 d-md-flex justify-content-end mr-8">

            <form>
              <input type="text" class="form-control rounded-lg" />
            </form>
            <button type="button" class=" btn bg-amber-500 text-white hover:bg-amber-600 rounded-lg">Search</button>
            <a class="btn bg-green-600 text-white hover:bg-green-700 rounded-lg" type="button"
              href="template_email.html">View Template</a>
          </div>

          <table class="table mr-8 mt-3">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Salary</th>
                <th scope="col" colspan="3">Action</th>
              </tr>
            </thead>

            @foreach (var m in Model.Offering)
            {
            <tbody>
         
              <tr>
                <th scope="row">1</th>
                 @* <td>@Html.DisplayFor(m => m.Name, new { @class="form-control"})</td>
                <td>@Html.DisplayFor(m => m.Salary, new { @class="form-control"})</td> *@
                <td>
                  <button type="button" class="btn bg-amber-500 text-white hover:bg-amber-600 rounded-lg btn-sm">Send</button>
                  <button type="button"
                    class="btn bg-green-600 text-white hover:bg-green-700 rounded-lg btn-sm">Accept</button>
                  <button type="button" class="btn bg-red-600 text-white hover:bg-red-700 rounded-lg btn-sm">Reject</button>
                </td>
              </tr>
            
            </tbody>
            }
          </table>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn bg-blue-600 text-white hover:bg-blue-700 rounded-lg mr-8" type="button" href="#content">End Process</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script>
    const content1 = document.getElementById('content1');
    const content2 = document.getElementById('content2');
    const content3 = document.getElementById('content3');
    const content4 = document.getElementById('content4');

    const btn1 = document.getElementById('btn1');
    const btn2 = document.getElementById('btn2');
    const btn3 = document.getElementById('btn3');
    const btn4 = document.getElementById('btn4');

    btn1.addEventListener('click', () => {
      content1.classList.remove('hidden');
      content2.classList.add('hidden');
      content3.classList.add('hidden');
      content4.classList.add('hidden');
    });

    btn2.addEventListener('click', () => {
      content1.classList.add('hidden');
      content2.classList.remove('hidden');
      content3.classList.add('hidden');
      content4.classList.add('hidden');
    });

    btn3.addEventListener('click', () => {
      content1.classList.add('hidden');
      content2.classList.add('hidden');
      content3.classList.remove('hidden');
      content4.classList.add('hidden');
    });

    btn4.addEventListener('click', () => {
      content1.classList.add('hidden');
      content2.classList.add('hidden');
      content3.classList.add('hidden');
      content4.classList.remove('hidden');
    });
  </script>