@model EmailTemplate

@using(Html.BeginForm("SaveTemplateEmail", "Admin", FormMethod.Post))
{
<div class="container bg-gray-100 p-10">
  <p class="font-bold text-3xl mt-8 ms-56">Template Email</p>

  <p class="font-bold text-xl text-muted text-muted text-muted text-muted text-muted text-muted text-muted text-muted mt-2 ms-56">Rejection Template Email</p>
  <div class="flex justify-center items-center mt-2 mb-5">
    <div class="">
      <div class="form-control">
        @* <textarea class="form-control w-[1000px] h-[300px]" id="exampleFormControlTextarea1" rows="3" placeholder="" value=@Model.EmailReject ></textarea> *@
        @Html.TextAreaFor(m => m.EmailReject, new { @class="form-control w-[1000px] h-[300px]", id = "AdministrationTemplateEmail" })
        <div class="d-grid gap-3 d-md-flex justify-content-md-end mt-3 mb-2">
          <button onclick="copyTextareaValue('AdministrationTemplateEmail')" class="btn bg-green-500 text-white hover:bg-green-600 rounded-lg" type="button">Copy Template</button>
        </div>
      </div>
    </div>
  </div>
  <p class="font-bold text-xl text-muted text-muted text-muted text-muted text-muted text-muted text-muted text-muted mt-12 ms-56">HR Interview Template Email</p>
  <div class="flex justify-center items-center mt-2 mb-5">
    <div class="">
      <div class="form-control">
        @* <textarea class="form-control w-[1000px] h-[300px]" id="exampleFormControlTextarea1" rows="3" placeholder="" value= @Model.EmailHR ></textarea> *@
        @Html.TextAreaFor(m => m.EmailHR, new { @class = "form-control w-[1000px] h-[300px]", id = "HRInterviewTemplateEmail" })
        <div class="d-grid gap-3 d-md-flex justify-content-md-end mt-3 mb-2">
          <button onclick="copyTextareaValue('HRInterviewTemplateEmail')" class="btn bg-green-500 text-white hover:bg-green-600 rounded-lg" type="button">Copy Template</button>
        </div>
      </div>
    </div>
  </div>

  <p class="font-bold text-xl text-muted text-muted text-muted text-muted text-muted text-muted text-muted text-muted mt-12 ms-56">User Interview Template Email</p>
  <div class="flex justify-center items-center mt-2 mb-5">
    <div class="">
      <div class="form-control">
        @* <textarea class="form-control w-[1000px] h-[300px]" id="exampleFormControlTextarea1" rows="3" placeholder="" value= @Model.EmailUser ></textarea> *@
        @Html.TextAreaFor(m => m.EmailUser, new { @class = "form-control w-[1000px] h-[300px]",id = "InterviewTemplateEmail" })
        <div class="d-grid gap-3 d-md-flex justify-content-md-end mt-3 mb-2">
          <button onclick="copyTextareaValue('InterviewTemplateEmail')" class="btn bg-green-500 text-white hover:bg-green-600 rounded-lg" type="button">Copy Template</button>
        </div>
      </div>
    </div>
  </div>

  <p class="font-bold text-xl text-muted text-muted text-muted text-muted text-muted text-muted text-muted text-muted mt-12 ms-56">Offering Template Email</p>
  <div class="flex justify-center items-center mt-2 mb-5">
    <div class="">
      <div class="form-control">
        @* <textarea class="form-control w-[1000px] h-[300px]" id="exampleFormControlTextarea1" rows="3" placeholder="" value= @Model.EmailOffering ></textarea> *@
        @Html.TextAreaFor(m => m.EmailOffering, new { @class = "form-control w-[1000px] h-[300px]", id = "OfferingTemplateEmail" })
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3 mb-2">
          <button onclick="copyTextareaValue('OfferingTemplateEmail')" class="btn bg-green-500 text-white hover:bg-green-600 rounded-lg" type="button">Copy Template</button>
        </div>
  
      </div>
    </div>
  </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3 mb-2 mb-2">
        <a class="btn bg-red-500 text-white hover:bg-red-600 rounded-lg" type="button" href="/Admin">Cancel</a>
        @Html.HiddenFor(m => m.JobId)
        <button class="btn bg-amber-500 text-white hover:bg-amber-600 rounded-lg" type="submit">Save</button>
    </div>
</div>
}

<script>
  function copyTextareaValue(textareaId) {
    const textarea = document.getElementById(textareaId);
    const textareaValue = textarea.value;
    copyToClipboard(textareaValue);
  }

  function copyToClipboard(text) {
    const textarea = document.createElement("textarea");
    textarea.value = text;
    document.body.appendChild(textarea);
    textarea.select();
    document.execCommand("copy");
    document.body.removeChild(textarea);
    alert("Template copied to clipboard!");
  }
</script>
